<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li>
            <a href="/calculate">
                <button type="button">Calculate Path</button>
            </a>  
        </li>
        <br>
        <li>
            <a href="/fruits">
                <button type="button">Fruits Path</button>
            </a>  
        </li>
        <br>
        <li>
            <a href="/books">
                <button type="button">Books Path</button>
            </a>  
        </li>
        <br>
        <li>
            <a href="/user">
                <button type="button">User Path</button>
            </a>  
        </li>
        <br>
        <li>
            <a href="/simulateAsync">
                <button type="button">SimulateAsync Path</button>
            </a>  
        </li>
        <br>
        <li>
            <a href="/requests">
                <button type="button">Request Path</button>
            </a>  
        </li>
    </ul>

</body>
</html>